@use "sass:math";

@function rem-calc($size) {
  $remSize: math.div($size, 16);
  @return #{$remSize}rem;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
