@use "../../../styles/variables" as *;
@use "../../../styles/typography" as typography;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-4;
}

.dateRow {
  display: flex;
  gap: $space-4;
}

.divider {
  height: 1px;
  background-color: $color-neutral-200;
  margin: $space-2 0;
}

.formError {
  @include typography.caption-xs;
  color: $color-error-500;
  background-color: $color-error-100;
  padding: $space-2 $space-3;
  border-radius: $radius-md;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: $space-3;
  margin-top: $space-2;
}
