@use "../../../styles/variables" as *;
@use "../../../styles/breakpoints" as breakpoints;

.container {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  padding: $space-4;
  background-color: $color-neutral-0;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  margin-bottom: $space-6;

  @include breakpoints.md {
    flex-direction: row;
    align-items: flex-end;
  }
}

.field {
  flex: 1;
}
